<!-- Special price  -->
<section id="special-price">
    <div class="container">
        <h4 class="font-rubik font-size-20">Available Items</h4>

        <div id="filters" class="button-group text-right font-baloo font-size-16">
            <button class="btn is-checked" data-filter="*">All Items</button>
            <button class="btn" data-filter=".Shirt">Shirts</button>
            <button class="btn" data-filter=".T-Shirt">T-Shirts</button>
            <button class="btn" data-filter=".Male">Men</button>
            <button class="btn" data-filter=".Female">Women</button>
        </div>
        <hr>

        <div class="grid"> 
                {% for product in allProducts %}
            <div class="grid-item border {{product.category}} {{product.gender}}">
                <div class="item py-2 px-4">
                    <div class="product font-rale">
                        <a href="{{ url_for('user_product_details', product_id=product.id) }}"><img src={{product.img}} alt="product1" class="img-fluid img-dim" ></a>
                        <div class="text-center">
                            {% if product.title|length > 15 %}
                                <h6>{{ product.title[:15] }}...</h6>
                            {% else %}
                                <h6>{{ product.title }}</h6>
                            {% endif %}
                            <div class="rating text-warning font-size-12">
                                <form action="{{ url_for('update_favourites')}}" method='POST'>
                                    <input type="hidden" name="product_id" value={{product.id}}>
                                    {% if product.id in favourites %}
                                     <button type="submit" name="favourites_remove_submit" class="btn btn-success font-size-12"> <span><i class="fas fa-star"></i></span></button>
                                     {% else %}
                                     <button type="submit" name="favourites_add_submit" class="btn font-size-12"> <span><i class="far fa-star"></i></span></button>
                                    {% endif %}
                                </form> 
                            </div>
                            <div class="price py-2">
                                <span>Rs {{product.price}}</span>
                            </div>
                            <form action="{{ url_for('update_cart')}}" method="post">
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                {% if product.id in cart %}
                                    <button type="submit" disabled class="btn btn-success font-size-12">In the Cart</button>
                                    {% else %}
                                    <button type="submit" name="cart_add_submit" class="btn btn-warning font-size-12">Add to Cart</button>
                                    {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- !Special price  -->