<!-- Special price  -->
<section id="special-price">
    <div class="container">
        <h4 class="font-rubik font-size-20">Available Items</h4>

        <div id="filters" class="button-group text-right font-baloo font-size-16">
            <button class="btn is-checked" data-filter="*">All Items</button>
            <button class="btn" data-filter=".Shirts">Shirts</button>
            <button class="btn" data-filter=".TShirts">T-Shirts</button>
        </div>
        <hr>

        <div class="grid">
                {% for product in allProducts %}
            <div class="grid-item border {{product.category}}">
                <div class="item py-2 px-4">
                    <div class="product font-rale">
                        <a href="#"><img src={{product.img}} alt="product1" class="img-fluid img-dim" ></a>
                        <div class="text-center">
                            {% if product.title|length > 15 %}
                                <h6>{{ product.title[:15] }}...</h6>
                            {% else %}
                                <h6>{{ product.title }}</h6>
                            {% endif %}
                            <div class="rating text-warning font-size-12">
                                <form method="post">
                                    <input type="hidden" name="item_id" value="456">
                                    <input type="hidden" name="user_id" value="456">
                                    <!-- <?php
                                    if (in_array($item['item_id'], $in_favourites ?? [])){
                                        echo '<button type="submit" name="favourites_remove_submit" class="btn btn-success font-size-12"> <span><i class="fas fa-star"></i></span></button>';
                                    }else{
                                        echo '<button type="submit" name="favourites_add_submit" class="btn font-size-12"> <span><i class="far fa-star"></i></span></button>';
                                    }
                                    ?> -->

                                </form>
                            </div>
                            <div class="price py-2">
                                <span>Rs {{product.price}}</span>
                            </div>
                            <form method="post">
                                <input type="hidden" name="item_id" value="445">
                                <input type="hidden" name="user_id" value="151">
                                <!-- <?php
                                if (in_array($item['item_id'], $in_cart ?? [])){
                                    echo '<button type="submit" disabled class="btn btn-success font-size-12">In the Cart</button>';
                                }else{
                                    echo '<button type="submit" name="top_sale_submit" class="btn btn-warning font-size-12">Add to Cart</button>';
                                } -->
                                <!-- ?> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- !Special price  -->