<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to PTS</title>

    <!-- Custom CSS file -->
    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
    <style>
        .stukartlogo{
            font-family: "The Nautigal", cursive;
            font-size: 70px;
        }
    </style>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

     <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body class="login-body">
<!-- Start header -->
<header class="login-header">
    <div class="strip d-flex">
        <p class="font-rubik" style="width: 100%;">Welcome to <span class="stukartlogo">Pts</span></p>
    </div>
</header>
<!-- !Start header -->

<!-- Main site -->
<main>
    <div id="divLogin">
        <p class="font-size-36 font-righteous" id="signinText">Sign in</p>
        <form  method="post" action="/login">
            <div id="loginForm">
                <input type="text" name="phone" class="textFieldsLogin" placeholder="Phone Number" required>
                <input type="password" name="password" class="textFieldsLogin" placeholder="Password" required>
                <div class="textFieldsLogin" id="selectGenderDiv">
                    <select name="role" id="selectRole" required>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>
                <button id="loginButton" type="submit" name="signInButton">Sign in</button>
            </div>
        </form>
        <p id="textBelowLoginButton">Don't have an account?</p>
        <a href="{{ url_for('signup') }}" class="font-size-14" id="signupText">Register here</a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger my-3" role="alert">
                <h6 style="width: 100%; text-align: center;"> {{message}}</h6>
              </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div>
</main>
<!-- !Main site -->
<!-- Footer section -->
<footer>
</footer>
<!-- !Footer section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>