<div class="container-fluid w-75">
    <h5 class="font-baloo font-size-20 my-2">Best Suppliers</h5>
    <table class="table table-bordered my-2">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Supplier</th>
            <th scope="col">Total Reviews</th>
            <th scope="col">Positve Reviews</th>
            <th scope="col">Negative Reviews</th>
            <th scope="col">Positive reviews %</th>
          </tr>
        </thead>
        <tbody>
            {% for key,value in rating.items() %}
				<tr>
                    <th scope="row">{{loop.index}}</th>
					<td>{{ key }}</td>
					<td>{{ value['total_reviews'] }}</td>
					<td>{{ value['positive'] }}</td>
					<td>{{ value['negative'] }}</td>
					<td>{{ value['percentage_positive_reviews'] }}</td>
				</tr>
			{% endfor %}
        </tbody>
      </table>
</div>